$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome";

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

body {
    font-family: "proxima-nova";
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'topic/topic.scss';
@import 'topics/topics.scss';
@import 'collabTextEditor/document.scss';
@import 'iconic/iconic.scss';
@import 'redactor/redactor.scss';
@import 'sharedspace/sharedspace.scss';
@import 'sharedspace/toolbar/toolbar.scss';
@import 'topic/add/add.scss';
@import 'topic/notifications/notifications.scss';
@import 'topicview/topicConnectNodes/topic.connectnode.scss';
@import 'topicview/topicsidebar/topicssidebar.scss';
@import 'topicview/topicview.scss';
// endinjector