.object {
    -webkit-perspective: 1000;
    -webkit-filter: blur(0px);
    position: absolute;
    z-index: 9999;
    padding: 15px;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    transition: 0.3s border 0.3;
    border: 3px dashed transparent;
    .iconic {
        opacity: 0.4;
    }
    .content {
        width: 100%;
        height: 100%;
    }
    .img {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
    .note {
        background-color: #333;
        color: white;
        padding: 5px;
        height: 100%;
        outline: none;
        overflow: hidden;
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
        &.yellow {
            background-color: #ffee51;
        }
        &.blue {
            background-color: #6eccfa;
        }
        &.green {
            background-color: #7cf6e0;
        }
    }
    .control {
        transition: 0.3s opacity 0.3s;
        opacity: 0.1;
        .trash {
            position: absolute;
            right: -35px;
            top: -35px;
            height: 30px;
            width: 30px;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            &:hover {
                .iconic {
                    opacity: 1;
                }
            }
            .iconic {
                width: 20px;
                height: 20px;
                margin-left: 4px;
                margin-top: 3px;
                position: relative;
            }
        }
        .move {
            position: absolute;
            left: -20px;
            top: -20px;
            height: 40px;
            width: 40px;
            cursor: move;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            background-color: white;
            &:hover {
                .iconic {
                    opacity: 1;
                }
            }
            .iconic {
                width: 85%;
                height: 85%;
                margin-left: 3px;
                margin-top: 4px;
                position: relative;
            }
        }
        .settings {
            position: absolute;
            left: -35px;
            bottom: -35px;
            height: 30px;
            width: 30px;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            &:hover {
                .iconic {
                    opacity: 1;
                }
            }
            .iconic {
                width: 20px;
                height: 20px;
                margin-left: 4px;
                margin-top: 3px;
                position: relative;
            }
        }
    }
}

.object:hover {
    border: 3px dashed rgba(0, 0, 0, 0.3);
}

.object:hover .control {
    opacity: 1;
}

.object.shape {
    display: none;
}